[general]
db = _autotorrent.db
ignore_files =
store_path = {{ ansible_env.AUTOTORRENT_COMPLETE_PATH }}
add_limit_size = {{ ansible_env.AUTOTORRENT_ADD_LIMIT_SIZE }}
add_limit_percent =  {{ ansible_env.AUTOTORRENT_ADD_LIMIT_PERCENT }}
link_type = {{ ansible_env.AUTOTORRENT_LINK_TYPE }}
scan_mode = {{ ansible_env.AUTOTORRENT_SCAN_MODE }}

[disks]
disk1 = {{ ansible_env.AUTOTORRENT_DISK_PATH }}

[client]
client = deluge
host = {{ ansible_env.AUTOTORRENT_CLIENT_HOSTNAME }}:{{ ansible_env.AUTOTORRENT_CLIENT_PORT }}
username = {{ ansible_env.AUTOTORRENT_CLIENT_USERNAME }}
password = {{ ansible_env.AUTOTORRENT_CLIENT_PASSWORD }}
